@charset "utf-8";
/* CSS Document */
.MainContainer{
  width: 100%;
  height: auto;
}
header{
  height: 210px;
  width: 100%;
}
#Header_image{
  position: absolute;
  left: 45%;
  height: 200px;
}
footer{
  position: fixed;
  bottom: 0;
}
.nav_bar{
  height: 50px;
  width: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.Sec1{
  width: auto;
  height: 350px;
}
#hotel_img{
  right: 20px;
  top: 300px;
}
#room_rest{
border-radius: 50%;
position: absolute;
right: 20px;
top: 650px;
}
.size{
  border-radius: 50%;
  position: absolute;
  width: 500px;
  height: 300px;
}
#marco{
  right: 20px;
  top: 1000px;
}
.h-index{
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  color: #B22222;
}
#index_par{
  margin-left: 30px;
  font-size: 24px;


}
