@charset "utf-8";
/* CSS Document */
.MainContainer{
  width: 100%;
  height: 100%;
  background-color: beige;
  z-index: -1;
}
header{
  height: 150px;
  width: 100%;
}
#Header_image{
  position: absolute;
  left: 45%;
  height: 150px;
}
footer{
  position: fixed;
  bottom: 0;
  margin-left: 45%;
  font-size: 20px;
}
.nav_bar{
  height: 50px;
  width: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B31400;
}
li{
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: #FF5050;
    color: black;
}
.active {
    background-color: #FF3300;
    color:black;
}
.Sec1{
  width: auto;
  height: 350px;
}
#hotel_img{
  right: 20px;
  top: 300px;
}
#room_rest{
border-radius: 50%;
position: absolute;
right: 20px;
top: 650px;
}
.size{
  border-radius: 50%;
  position: absolute;
  width: 500px;
  height: 300px;
}
#marco{
  right: 20px;
  top: 1000px;
}
.h-index{
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  color: #B22222;
}
#index_par{
  margin-left: 30px;
  font-size: 24px;
}
.coll_box{
  width: 100%;
  height:800px;
  background-color: #F5F5DC;
  left: 400px;
}
#prof_img{
  width: 500px;
  height: 200px;
  margin-left: 50px;
}
.Bio{
  width: 600px;
  position: fixed;
  left: 400px;
  background-color: #F5F5DC;
  height: 80%;*/

}

.Two_coll{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.carneval_img{
  width: 600px;
  height: 400px;
  margin-left: 50px;
  margin-top: 10px;
}
.three_coll{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
#gradient_background{
  height: auto;
  width: auto;
  background: #FFFFB8;
  background: -webkit-linear-gradient(180deg, #FFFFB8, #FFFFDB);
  background: -o-linear-gradient(180deg, #FFFFB8, #FFFFDB);
  background: -moz-linear-gradient(180deg, #FFFFB8, #FFFFDB);
  background: linear-gradient(180deg, #FFFFB8, #FFFFDB);
}
.img_size{
  height: 300px;
  width: 448px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: -1;
}
#top{
  margin-top: 20px;
}
.box2{
  width: 90%;
  height: auto;
  margin-left: 5%;
}
#index{
  position: relative;
  width: 300px;
  z-index: 1000;
}
#marks{
  font-size: 20px;
}
.inedx{
  position: absolute;
  right: 50px;
  z-index:60%;

}
#top_pic{
  position: absolute;
  top: 540px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}
#mid_pic{
  position: absolute;
  top: 850px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}
#folowsize{
  height: 50px;
  width: 50px;
}
